@model KingofCurries.Models.BankHoliday
@{

}

<link rel="stylesheet" href="~/theme/vendors/summernote/dist/summernote-bs4.css">
<link rel="stylesheet" href="~/theme/vendors/quill/quill.snow.css">
<link rel="stylesheet" href="~/theme/vendors/simplemde/simplemde.min.css">
<div class="row m-0 mb-3">
    <div class="col-lg-12">
        <div class="alert alert-danger" id="addDeliveryChargesErrorMessage" hidden>
        </div>

    </div>

</div>
<form asp-action="AddBankHoliday" id="AddBankHoliday" asp-controller="BankHoliday" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

    <div class="row">
        <div class="col">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row p-3" id="alertDiv11">
                <div class="col-md-12">
                    <div class="alertNew alert-dangerNew" role="alert" id="alertLabel22">
                    </div>
                </div>
            </div>
              
    
         


                <div class="form-group row">
                <label asp-for="Title" for="title" class="col-sm-3 col-form-label">Title  Name *</label>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control" type="text" id="title" placeholder="Title" required />
                    <div class="invalid-feedback">
                        Please Provide a valid Title 
                    </div>
                </div>

            </div>

             <div class="form-group row">
                <label asp-for="Dates" for="datesid" class="col-sm-3 col-form-label">Dates *</label>
                <div class="col-sm-9">

                    <div id="datepicker" class="input-group date datepicker">
                    <input asp-for="Title" class="form-control" type="text" id="datesid" placeholder="dates" required />
                    <span class="input-group-addon input-group-append border-left">
                        <span class="ti-calendar input-group-text"></span>
                    </span>

                    </div>
                    <div class="invalid-feedback">
                        Please Provide a valid Dates  
                        </div>
                </div>

            </div>

          
          

            <div class="form-group">
                <div class="custom-control custom-switch lg">
                    <input type="checkbox" class="custom-control-input control" name="Status" id="Status" data-val="true" data-val-required="Status" value="false">
                    <label class="custom-control-label" for="Status">Status</label>
                </div>
            </div>
             

             
 

           

       

            <div class="form-group float-right">


                <a onclick="AddBankHolidayss()" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="mdi mdi-content-save text-white"></i>Add</a>
                <a id="back" class="btn btn-warning btn-sm text-white " data-dismiss="modal" aria-label="Close" title="Cancel"><i class="fa fa-window-close-o text-white"></i> Cancel</a>


            </div>

        </div>
    </div>
</form>
<!-- plugin js for this page -->
<!-- End custom js for this page-->
<script type="text/javascript">

    $(document).ready(function () {


        $('#alertDiv11').hide();
    });
   

   

    function AddBankHolidayss() {

        var form = $("#AddBankHoliday")[0];
        var isValid = form.checkValidity();
        
        if (!isValid) {


        }
        else {

        var Title = document.getElementById('title').value;
            var Dates = document.getElementById('datesid').value;
            var Status = $('#Status').prop('checked');
        
      
        displayBusyIndicator();
        var bankHoliday = new FormData();
        bankHoliday.append("Title", Title);
        bankHoliday.append("Dates", Dates);
        bankHoliday.append("Status", Status);
 
        
 

        $.ajax({
            type: "POST",
            url: "/BankHoliday/AddBankHoliday/",

            data: bankHoliday,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType

            //data: { AddVidTabName: AddvidTabName, VidFile11: VidFile1 },
             

            success: function (result) {
                if (result.code) {
                 
                    loadBankHoliday();
                    displayBusyIndicator2();
                    $('#BankHolidayPopUp').modal('hide');
                    $('#addDeliveryChargesSuccessMessage').removeAttr('hidden');
                    $('#addDeliveryChargesSuccessMessage').html('BankHoliday  Added Successfully');
                    $('#addDeliveryChargesSuccessMessage').fadeIn();

                    $('#addDeliveryChargesSuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#addDeliveryChargesSuccessMessage").slideUp(500);
                    });
                    $('#addDeliveryChargesSuccessMessage').attr('hidden');

                    $('#BankHolidayPopUp').modal('hide');
 
              
                   
                    $('#').attr('class', 'form-control');
                  
                }
                else { 
                    
                    
                    displayBusyIndicator2();
                    $('#addDeliveryChargesErrorMessage').removeAttr('hidden');
                    $('#addDeliveryChargesErrorMessage').html(result.responseText);
                    $('#addDeliveryChargesErrorMessage').fadeIn();

                    $('#addDeliveryChargesErrorMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#addDeliveryChargesErrorMessage").slideUp(500);
                    });
                    $('#addDeliveryChargesErrorMessage').attr('hidden');

                }
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
        }
        form.classList.add('was-validated');
        return false;

    }

  

    $(function () {
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        });
    });

     
</script>

