@model KingofCurries.Models.FreeItems
@{
  
}


<!-- Plugin css for this page -->
<!-- End plugin css for this page -->

<link rel="stylesheet" href="~/theme/vendors/summernote/dist/summernote-bs4.css">
<link rel="stylesheet" href="~/theme/vendors/quill/quill.snow.css">
<link rel="stylesheet" href="~/theme/vendors/simplemde/simplemde.min.css">

<div class="row m-0 mb-3">
    <div class="col-lg-12">
        <div class="alert alert-danger" id="editFreeItemsErrorMessage">

        </div>

    </div>

</div>
<div class="row">
    <div class="col">
        <form asp-action="Edit" id="EditFreeItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row p-3" id="alertDiv71" hidden>
                <div class="col-md-12">
                    <div class="alertNew alert-dangerNew" role="alert" id="alertLabel72">

                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="FreeItemId" id="freeItemId" />
            <input type="hidden" asp-for="ItemId" id="itemId" />

            <div class="form-group row">
                <div class="col-sm-6 p-4 ">
                    @if (Model != null)
                    {
                        <img src="@Model.FreeItemImage" class="align-content-center center" width="150px" style="align-content:center" />
                    }
                </div>

                <div class="col-sm-6">
                <label asp-for="FreeItemImage" class="control-label">Change Image </label>

                <input asp-for="FreeItemImage" type="file" id="editFreeItemImage" name="ImageURl1" class="form-control  dropify" />

                <span asp-validation-for="FreeItemImageUrl" class="text-danger"></span>
                <input type="hidden" asp-for="FreeItemImage" name="hdnImageUrl" id="editImageCheckUrl" />
                <input type="hidden" asp-for="FreeItemThumbnail" name="hdnImageUrl" id="editImageCheckUrlThumb" />
            </div>
            </div>
   
        
            <div class="form-group row">
                 <div class="col-sm-6">
                      
                      <label asp-for="FreeItemTitle" class="control-label">FreeItem Title  </label>
                <input asp-for="FreeItemTitle" maxlength="250" class="form-control" id="editFreeItemTitle" placeholder=" FreeItemTitle" required />
                <span asp-validation-for="FreeItemTitle" class="text-danger"></span>
                 </div> 
                 <div class="col-sm-6">
                 <label asp-for="ItemId" class=" text-center">Item Name</label>
                            @*<input asp-for="CountyId" class="form-control" />*@
                            <select asp-for="ItemId" id="editItemId" class="custom-select " required asp-items="@(new SelectList(@ViewBag.Items,"Value","Text"))">
                                <option value="0" selected disabled>--Select Item--</option>
                            </select>
                 </div>
               
            </div>

            <div class="form-group row">
             <div class="col-sm-6">
                      <label asp-for="Priority" class="control-label">Priority</label>
                <input asp-for="Priority" maxlength="250" class="form-control" id="editPriority" placeholder=" Priority" required />
                <span asp-validation-for="Priority" class="text-danger"></span>
                 </div>
                 <div class="col-sm-6">
                    <label asp-for="FreeItemDetails" class="control-label">FreeItemDetails</label>               
                    <textarea asp-for="FreeItemDetails" name="FreeItemDetails" class="form-control" id="editFreeItemDetail" placeholder="Free Item Detail " required></textarea>
                     <span asp-validation-for="FreeItemDetails" class="text-danger"></span>

                 </div>
               
            </div>

     



          

         


             <div class="form-group float-right">
                <a onclick="UpdateFreeitems()" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="mdi mdi-update text-white"></i>Update</a>
                <a id="back" class="btn btn-warning btn-sm text-white " data-dismiss="modal" aria-label="Close" title="Back"><i class="fa fa-chevron-left text-white"></i> Back</a>
            </div>

        
        </form>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#alertDiv71').hide;
        
    });

   
    function UpdateFreeitems() {
 
           var ItemId = $('#editItemId').val();
        var FreeItemId = $('#freeItemId').val();
       
        var editFreeItemTitle = $('#editFreeItemTitle').val();
        var editFreeItemDetail = $('#editFreeItemDetail').val();
        var editFreeItemPriority = $('#editPriority').val();
        var editFreeItemImage = document.getElementById('editFreeItemImage');
        var editFreeItemImageUrl = $('#editImageCheckUrl').val();
        var editImageCheckUrlThumb = $('#editImageCheckUrlThumb').val();
        
     
       
        
      
       
         displayBusyIndicator();
 
        var freeItems = new FormData();
        freeItems.append("ItemId",ItemId); 
        freeItems.append("FreeItemId",FreeItemId); 
        freeItems.append("FreeItemTitle",editFreeItemTitle); 
        freeItems.append("FreeItemDetails",editFreeItemDetail); 
        freeItems.append("Priority",editFreeItemPriority); 
        freeItems.append("FreeItemImageUrl", editFreeItemImage
        .files[0]); 
        freeItems.append("FreeItemImage", editFreeItemImageUrl); 
        freeItems.append("FreeItemThumbnail", editImageCheckUrlThumb); 
        
    
        $.ajax({

            type: "POST",
            url: "/FreeItems/UpdateFreeItems/",

            data: freeItems,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType


            success: function (result) {
                if (result.code) {
                     
                  
                    loadListFreeItems();
                    displayBusyIndicator2();
                    $('#EditFreeItemsModal').modal('hide');
                    $('#addFreeItemsSuccessMessage').modal('hide');
                    $('#addFreeItemsSuccessMessage').removeAttr('hidden');
                    $('#addFreeItemsSuccessMessage').html('FreeItems Updated Successfully');
                    $('#addFreeItemsSuccessMessage').fadeIn();

                    $('#addFreeItemsSuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#addFreeItemsSuccessMessage").slideUp(500);
                    });
                    $('#addFreeItemsSuccessMessage').attr('hidden');

                    $('#alertLabel22').html('');
                     $('#editFreeItemsErrorMessage').removeAttr('hidden');
                    $('#editFreeItemsErrorMessage').html(result.responseText);
                    $('#editFreeItemsErrorMessage').fadeIn();

                    $('#editFreeItemsErrorMessage').fadeTo(5000, 500).slideUp(500, function () {
                    $("#editFreeItemsErrorMessage").slideUp(500);
                    });

                    $('#editFreeItemsErrorMessage').attr('hidden');
                }
                else {
                    displayBusyIndicator2();

                    $('#editFreeItemsErrorMessage').removeAttr('hidden');
                    $('#editFreeItemsErrorMessage').html(result.responseText);
                    $('#editFreeItemsErrorMessage').fadeIn();

                    $('#editFreeItemsErrorMessage').fadeTo(5000, 500).slideUp(500, function () {
                    $("#editFreeItemsErrorMessage").slideUp(500);
                    });

                    $('#editFreeItemsErrorMessage').attr('hidden');
                }
              
                
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }

      

</script>


<script src="~/theme/vendors/summernote/dist/summernote-bs4.min.js"></script>
<script src="~/theme/vendors/tinymce/tinymce.min.js"></script>
<script src="~/theme/vendors/quill/quill.min.js"></script>
<script src="~/theme/vendors/simplemde/simplemde.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="~/theme/js/editorDemo.js"></script>

<!-- Custom js for this page-->
<!-- End custom js for this page-->