@model KingofCurries.Models.FreeItems
@{

}
<style>
	@@media only screen and (min-width: 850px) {

		.MobileviewMaxwidth1 {
			max-width: 60% !important;
		}
	}
</style>



<div class="card">
	<div class="card-body">




		<div class="">

			<table class="table">
				<thead>
					<tr>
						<th>
							Title
						</th>
						<th>
							Detail
						</th>
						<th>
							Item Name
						</th>
						<th>
							Image
						</th>
						<th>
							Thumbnail  
						</th>
						<th>
							Priority
						</th>

						

						<th>
							Actions
						</th>
					</tr>
				</thead>
				<tbody class="freeItemsList">
				</tbody>
			</table>

		</div>

	</div>
</div>

<div class="row">
	<div class="col-12 grid-margin">
		<div class="modal fade" id="AddFreeItemsPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable mt-4 MobileviewMaxwidth1" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add FreeItems</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
						</button>
					</div>
					<div class="modal-body" id="AddPreview">
						@await Html.PartialAsync("~/Views/FreeItems/_AddFreeItems.cshtml", Model)
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-12 grid-margin">
		<div class="modal fade" id="EditFreeItemsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable mt-4 MobileviewMaxwidth1" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Edit FreeItems</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
						</button>
					</div>
					<div class="modal-body" id="EditFreeItemsPreview">
						@await Html.PartialAsync("~/Views/FreeItems/_EditFreeItems.cshtml", Model)
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">

		$(document).ready(function () {

			loadListFreeItems();

			
		});

	function loadListFreeItems() {
				
			$.ajax({
			url: "/FreeItems/ListFreeItems",
				type: "GET",
				contentType: "application/json;charset=utf-8",
				dataType: "json",
				success: function (result) {
					console.log("ibad Khan");
				
				  console.log(result)
					var html = '';
					if (result.code === true) {
                
						$.each(result.jsonText, function (key, item)
					{
					
		                  
					 ;
						html += '<tr>';
						html += '<td class="text-wrap" >' + item.freeItemTitle + '</td>';
						html += '<td class="text-wrap" >' + item.freeItemDetails + '</td>';
						html += '<td class="text-wrap" >' + item.itemTitle + '</td>';
						//html += '<td class="text-wrap" >' + item.galleyGategoryImageUrl + '</td>';
						html += '<td class="text-wrap" ><img src="' +  item.freeItemImage + '" style="width:80px !important;height:80px !important;"/></td>';
						html += '<td class="text-wrap" ><img src="' +  item.freeItemThumbnail + '" style="width:80px !important;height:80px !important;"/></td>';
						html += '<td class="text-wrap" >' + item.priority + '</td>';
						//html += '<td class="text-wrap" ><img src="' +full+item.announcementImageUrl2+'" style="width:80px !important;height:80px !important;"/></td>';
						//html += '<td class="text-wrap" >' + item.promosUrl + '</td>';
						//html += '<td class="text-wrap" ></td>';
						html += ' <td>';

					  //  html += '<div class="custom-control custom-switch lg"><input type="checkbox" class="custom-control-input control" name="ShowOnWebsite" id="'+showonWebsiteId+'" onchange="tableCheckBoxChange('+item.announcementID+')" data-val="true"  data-val-required="Do you want to show on Website" value="'+ item.showOnWebsite+'" '+classChecked+'><label class="custom-control-label" for="'+showonWebsiteId+'"></label></div><br/><a onclick="EditAnnouncement(' + item.announcementID + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
						html += '<a onclick="EditFreeItems(' + item.freeItemId + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
						html += '<a onclick="DeleteFreeItems(' + item.freeItemId + ')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash text-white"></i></a>';
						
						html += ' </td>';
						html += '</tr>';
					});
					$('.freeItemsList').html(html);
					}else{
						alert(false);
					}
				},
				error: function (errormessage) {
					//alert(errormessage.responseText);
				}
			});
		}

		function AddFreeItems() {

		$('#AddFreeItemsPopUp').modal('show');

		}

	function EditFreeItems(id) {
		alert("Okay")
			 $.ajax({
				type: "Get",
			url: '@Url.Action("GetFreeItemsById", "FreeItems")',
				 data: { id: id },
				success: function (data) {
					$('#EditFreeItemsPreview').html(data);
					$('#EditFreeItemsModal').modal('show');

				}
			})
		}

	function DeleteFreeItems(id) {

		var ans = confirm("Are you sure you want to delete this FreeItems?");
		if (ans) {
			$.ajax({
				url: "/FreeItems/DeleteFreeItems/" + id,
				type: "POST",

				contentType: "application/json;charset=UTF-8",
				dataType: "json",
				success: function (result) {
					if (result.success) {
						loadListFreeItems();
						$(window).scrollTop(0);
						$('#addFreeItemsSuccessMessage').removeAttr('hidden');
						$('#addFreeItemsSuccessMessage').html('FreeItem Deleted Successfully');
						$('#addFreeItemsSuccessMessage').fadeIn();

						$('#addFreeItemsSuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
							$("#addFreeItemsSuccessMessage").slideUp(500);
						});
						$('#addFreeItemsSuccessMessage').attr('hidden');

					}
					else {
					


					}


				},
				error: function (errormessage) {
				   // alert(errormessage.responseText);
				}
			});
		}
		}



</script>

