
@{
	 

	



}

<div class="modal fade" id="staticBackdropp"    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel"><i class="fal fa-users"></i> Fill Form</h5>
					 
				</div>

            
            <div class="modal-body ">

				<form class="row g-3">
  <div class="col-md-6">

                        <label for="lname">Country Name</label>
                        <input type="text" id="country" name="lastname" placeholder="Your country name..">

  </div>

  <div class="col-md-6">
                        <label for="PostalCode">PostalCode</label>
                        <input type="text" id="postalCode" name="PostalCode" placeholder="Your PostalCode..">
  </div>

  <div class="col-12">
                        <label for="ContactNo">ContactNo</label>
                        <input type="text" id="contactNo" name="ContactNo" placeholder="Your ContactNo..">
                    </div>
  

  <div class="col-md-6">
                            <label for="State">County</label>
                            <input type="text" id="state" name="State" placeholder="Your State..">
                        </div>

                        <div class="col-md-6">
                            <label for="addressType">AddressType</label>
                            <select id="addressType" name="AddressType">
                                
                            </select>
  </div>
                    <div class="col-12">
                        <label for="Town">Town</label>
                        <input type="text" id="town" name="Town" placeholder="Your Town..">
                    </div>
  <div class="col-md-12">
                            <label for="Address">Address</label>
                            <textarea id="address" name="Address" placeholder="Write something.." style="height:170px"></textarea>
  </div>


                        <a onclick="AddAddress()" class="btn btn-danger  d-none d-xl-block" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="mdi mdi-content-save text-white"></i>Add Address</a>

</form>

				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


 
	


 