@{
    ViewData["Title"] = "Password Reset Message";
   
}

<div class="breadcumb-wrapper" data-bg-src="../../images/Banner/5.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Reset Password<span class="font-style text-theme2">Message</span></h1>
            <ul class="breadcumb-menu">
                <li><a href="/" style="color:#D8962B !important;" >Home</a></li>
                <li>Reset Password Message</li>
            </ul>
        </div>
    </div>
</div>
<section class="space">
    <div class="container">
         <div class="row m-5">
                    <div class="col-sm-12">
                        <div class="alert alert-success  d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                            <div>
                                <strong>Success: </strong> 
                                 Your Password has been Reset Successfully....<a asp-controller="Home" asp-action="Index" class="text-info">Click Here</a> to go to home page
                            </div>
                        </div>
                    </div>
                </div>
        <div class="form-group col-sm-12 center  text-center">

    <div class=" alert alert-success text-white">
       
    </div>

</div>
    </div>
</section>


