
@{
    ViewData["Title"] = "GetContact";
    Layout = "~/Views/Shared/_LayoutClients.cshtml";
}

<div class="container-fluid">
	<div class="form-head d-flex mb-3 align-items-start">
		<div class="me-auto d-none d-lg-block">
			<h2 class="text-primary font-w600 mb-0">All Contacts</h2>
			<p class="mb-0">Welcome to Harry's Restro Admin!</p>
	</div>
	</div>

 

    </div>

 <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-blue">
                <h4 class="card-title text-white">All Contacts</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
						<th>S#</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Description</th>
						<th>Action</th>
						 
						 
					</tr>
                            </thead>
						<tbody class="contactList">
						</tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>


</div>
 



