

 <section class="space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title"><img class="icon" src="../../WebsiteAssets/assets/img/icon/title_icon.svg" alt="icon"> Popular Menu</span>
                <h2 class="sec-title">Our Popular Delicious <span class="font-style text-theme">Foods</span></h2>
                <p class="sec-text ms-auto me-auto">we take great pride in offering some of the most delicious and authentic Indian food around.</p>
                <div class="tab-menu1 filter-menu-active">
                    <button  class="active" id="All" onclick="GetMainMenuList('All')" type="button">All Menus</button> 
                    <button  type="button" id="Appetizers" onclick="GetMainMenuList('Appetizers')" >Appetizers</button> 
                    <button  type="button" id="MainCourses" onclick="GetMainMenuList('Main Courses')" >Main Courses</button>
                    <button  type="button" id="Baryani" onclick="GetMainMenuList('Baryani')" >Baryani</button>
                    <button  type="button" id="Vegetables" onclick="GetMainMenuList('Vegetables')" >Vegetables</button> 
                    <button  type="button" id="ThaiGarden" onclick="GetMainMenuList('Thai Garden')" >Thai Garden</button>
                    <button  type="button" id="Rice" onclick="GetMainMenuList('Rice')" >Rice</button>
                    <button  type="button" id="Drink" onclick="GetMainMenuList('Drinks')" >Drinks</button>
                    <button  type="button" id="Desserts" onclick="GetMainMenuList('Desserts')" >Desserts</button>

                </div>
            </div>
            <div class="row gy-40 filter-active h-100 " id="mainMenuList">
              
            </div>
            <div class="text-center mt-5"><a href="/Menu/TakeAway" class="as-btn">View All Menus</a></div>
        </div>
        <div class="shape-mockup chili jump-reverse" data-top="0%" data-right="0"><img src="../../WebsiteAssets/assets/img/shape/red_chili.png" alt="shape"></div>
        <div class="shape-mockup leaf jump-reverse" data-top="20%" data-left="0"><img src="../../WebsiteAssets/assets/img/shape/leaf_1.png" alt="shape"></div>
        <div class="shape-mockup leaf jump" data-bottom="0%" data-right="0"><img src="../../WebsiteAssets/assets/img/shape/leaf_2.png" alt="shape"></div>
    </section>
