@{
    ViewData["Title"] = "Catering";
}
<div class="breadcumb-wrapper" data-bg-src="../../images/Banner/5.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Cater <span class="text-theme2">ing</span></h1>
            <ul class="breadcumb-menu">
                <li><a href="/" style="color:#D8962B !important;" >Home</a></li>
                <li>Catering</li>
            </ul>
        </div>
    </div>
</div>





    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="row m-4">
            
                <div class="col-sm-12 ">
     <p>Wouldn't it be great if you could plan an event without being sidetracked in the details?
         When you deal with The Harry's Restro Catering, you can sit back and enjoy,
         trusting that every aspect will be taken care of when it comes to food and our exceptional service.</p>
     <p>We will assist you in creating a customised menu that is tailored to your and your guests'
         desires, regardless of the form of event you are organising. Aside from the menu, you'll
         have the luxury of deciding how your food is served, whether it's a buffet or table 
         service from our experienced staff. For more information please call  <span class="text-danger"><b>046 9280833</b></span></p>

         <p><span class="text-danger"><b>Vegan and gluten free options available.</b></span></p>
                </div>
                
            </div>
                </div>
        </div>
        
    </div>



<div class="mb-5" data-pos-for="#contactFormSec" data-sec-pos="bottom-half">
    <div class="container mt-5">
        <div class="row gy-4">
           
            <div class="col-lg-4">
                <div class="contact-info" data-bg-src="../../images/Banner/18.png"/>
                    <div class="contact-info_icon"><i class="fal fa-envelope"></i></div>
                    <h4 class="contact-info_title box-title" style="color:#D8962B !important;">Email</h4>
                    <span class="contact-info_text"><a style="color:rgb(255, 157, 45)" href="mailto:harrysrestro@hotmail.es">harrysrestro@hotmail.es</a></span>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="contact-info" data-bg-src="../../images/Banner/13.png"/>
                    <div class="contact-info_icon"><i class="fal fa-phone"></i></div>
                    <h4 class="contact-info_title box-title" style="color:#D8962B !important;">Phone</h4>
                    <span class="contact-info_text"><a style="color:rgb(255, 157, 45)" href="tel:+34 952 96 43 64">+34 952 96 43 64</a> </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info" data-bg-src="../../images/Banner/18.png"/>
                    <div class="contact-info_icon"><i class="fal fa-location-dot"></i></div>
                    <h4 class="contact-info_title box-title" style="color:#D8962B !important;">Location</h4>
                    <span class="contact-info_text" style="color:rgb(255, 157, 45); font-size:small " >Av. Las Palmeras, No.36, Local 1, Benalmádena, Spain, 29630</span>
                </div>
            </div>
        </div>
    </div>
</div>




