@{
    ViewData["Title"] = "Error 500";
}

<div class="breadcumb-wrapper" data-bg-src="../../images/Banner/5.jpg">
        <div class="container z-index-common">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">
                    404 -
                    <span class="font-style text-theme2">
                        Error
                    </span>
                </h1>
                <ul class="breadcumb-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        404 - Error
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="bg-auto space" data-bg-src="../../WebsiteAssets/assets/img/normal/error_bg.png">
        <div class="container">
            <div class="error-img">
                <img src="../../WebsiteAssets/assets/img/normal/error_img2.png" alt="500 image">
            </div>
            <div class="error-content">
                <h2 class="error-title">
                    Internal Server Error
                </h2>
               
                <p class="error-text">
                    We're sorry, The server encountered an internal error or misconfiguration and was unable to complete your request.
                </p>
                <a href="/" class="as-btn">
                    <i class="far fa-home me-2">
                    </i>Back To Home
                </a>
            </div>
        </div>
    </section>




   





