@{
    ViewData["Title"] = "Food Taste";
}

<div class="breadcumb-wrapper" data-bg-src="../../images/Banner/5.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Food <span class="font-style text-theme2">Taste</span></h1>
            <ul class="breadcumb-menu">
                <li><a href="/" style="color:#D8962B !important;" >Home</a></li>
                <li>Food Taste</li>
            </ul>
        </div>
    </div>
</div>





<section class=" " id="contactFormSec">
    <div class="container">
        <form  method="POST" class="contact-form ajax-contact" id="formFoodTest">
            <h5 class="form-title">Subscribe to our mailing list to hear about upcoming Food Tasting Nights</h5>
            <div class="row">
                <div class="form-group col-md-8"><input type="email" class="form-control" name="name" id="txtFoodTest" required placeholder="Your Name"> <i class="fal fa-envelope"></i></div>
               
                <div class="form-btn text-center col-4"><a id="btnFoodTest" class="as-btn">Subscribe</a></div>
            </div>
           
        </form>
    </div>
</section>


<div class="mb-5" data-pos-for="#contactFormSec" data-sec-pos="bottom-half">
    <div class="container mt-5">
        <div class="row gy-4">
           
            <div class="col-lg-4">
                <div class="contact-info" data-bg-src="../../images/Banner/18.png"/>
                    <div class="contact-info_icon"><i class="fal fa-envelope"></i></div>
                    <h4 class="contact-info_title box-title" style="color:#D8962B !important;">Email</h4>
                    <span class="contact-info_text"><a style="color:rgb(255, 157, 45)" href="mailto:harrysrestro@hotmail.es">harrysrestro@hotmail.es</a></span>
                </div>
            </div>
             <div class="col-lg-4">
                <div class="contact-info" data-bg-src="../../images/Banner/13.png"/>
                    <div class="contact-info_icon"><i class="fal fa-phone"></i></div>
                    <h4 class="contact-info_title box-title" style="color:#D8962B !important;">Phone</h4>
                    <span class="contact-info_text"><a style="color:rgb(255, 157, 45)" href="tel:+34 952 96 43 64">+34 952 96 43 64</a> </span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info" data-bg-src="../../images/Banner/18.png"/>
                    <div class="contact-info_icon"><i class="fal fa-location-dot"></i></div>
                    <h4 class="contact-info_title box-title" style="color:#D8962B !important;">Location</h4>
                    <span class="contact-info_text" style="color:rgb(255, 157, 45); font-size:small " >Av. Las Palmeras, No.36, Local 1, Benalmádena, Spain, 29630</span>
                </div>
            </div>
        </div>
    </div>
</div>





