@model KingofCurries.Models.Category


<style>
    @@media only screen and (min-width: 850px) {

        .MobileviewMaxwidth1 {
            max-width: 60% !important;
        }
    }
</style>



<div class="card">
    <div class="card-body">




        <div class="row">
            <div class="search">

                <input type="text" id="myInput" onkeyup="SearchFunction()" class="searchTerm" placeholder="Search Your Category....">

            </div>
        </div>

        <table id="myTable" class="table ">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>

                    <th>
                        Description
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        IsFeature
                    </th>
                    <th>
                        Image
                    </th>

                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody class="categoryList">
            </tbody>
        </table>

    </div>

</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="CategoryPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4 MobileviewMaxwidth1" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddPreview">
                        @await Html.PartialAsync("~/Views/Category/_AddCategory.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4 MobileviewMaxwidth1" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditCategoryPreview">
                        @await Html.PartialAsync("~/Views/Category/_EditCategory.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        loadCategory();


    });

    function loadCategory() {

        $.ajax({
            url: "/Category/ListCategoryGetAll",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log("nouman Khan");
                console.log(result)
                var html = '';
                if (result.code === true) {



                    $.each(result.jsonText, function (key, item) {


                        html += '<tr>';
                        html += '<td class="text-wrap" ><img src="' + item.categoryImageurl + '" style="width:80px !important;height:80px !important;"/></td>';
                        html += '<td class="text-wrap" >' + item.categoryName + '</td>';
                        html += '<td class="text-wrap" >' + item.categoryDescription + '</td>';
                        html += '<td class="text-wrap" >' + item.categoryPriority + '</td>';
                        html += '<td class="text-wrap" >' + item.isFeature + '</td>';



                        html += ' <td>';

                        html += '<a onclick="EditCategory(' + item.categoryId + ')" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit text-white"></i></a>&nbsp;';
                        html += '<a onclick="DeleteCategory(' + item.categoryId + ')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash text-white"></i></a>';

                        html += ' </td>';
                        html += '</tr>';
                    });
                    $('.categoryList').html(html);
                } else {
                    alert(false);
                }
            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }

    function AddCategory() {

        $('#CategoryPopUp').modal('show');

    }

    function EditCategory(categoryId) {

        $.ajax({
            type: "Get",
            url: '@Url.Action("EditCategoryById", "Category")',
            data: { id: categoryId },
            success: function (data) {
                $('#EditCategoryPreview').html(data);
                $('#EditCategoryModal').modal('show');

            }
        })
    }

    function DeleteCategory(id) {

        var ans = confirm("Are you sure you want to delete this Category?");
        if (ans) {
            $.ajax({
                url: "/Category/DeleteCategory/" + id,
                type: "POST",

                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        loadCategory();
                        $(window).scrollTop(0);
                        $('#ddCategorySuccessMessage').removeAttr('hidden');
                        $('#ddCategorySuccessMessage').html('Category Deleted Successfully');
                        $('#ddCategorySuccessMessage').fadeIn();

                        $('#ddCategorySuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
                            $("#ddCategorySuccessMessage").slideUp(500);
                        });
                        $('#ddCategorySuccessMessage').attr('hidden');

                    }
                    else {



                    }


                },
                error: function (errormessage) {
                    // alert(errormessage.responseText);
                }
            });
        }
    }

    function SearchFunction() {
        var input, filter, table, tr, td, i, ii;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.querySelectorAll("tbody tr");
        for (i = 0; i < tr.length; i++) {
            var tds = tr[i].getElementsByTagName("td");
            var found = false;
            for (ii = 0; ii < tds.length && !found; ii++) {
                if (tds[ii].textContent.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                    break;
                }
            }
            tr[i].style.display = found ? "" : "none";
        }
    }

</script>
